{% extends 'base.html.twig' %}


{% block body %}

{{ parent() }}

{{ form_start(loginForm) }}
{{ form_widget(loginForm) }}
{{ form_end(loginForm) }}

<a href="{{ path('registration') }}">Registration</a>


{% endblock %}