{% extends 'base.html.twig' %}


{% block body %}
    {{ parent() }}

    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    {{ form_end(registrationForm) }}

    <a href="{{ path('login') }}">Login</a>
{% endblock %}